<main class="home">
  <h1 ng-click="$ctrl.randomName()">Click to change name: {{$ctrl.name}}</h1>
  <input ng-model="$ctrl.newItem" ng-keypress="$ctrl.enter($event)" type="text">
  <ul>
    <li ng-click="$ctrl.change(tem)" ng-repeat="tem in $ctrl.items track by $index" ng-class="{finsh: tem.isfinsh}">
      <div class="item--style">
        <laber>{{tem.lber}}</laber>
        <div class="item--style__button" ng-click="$ctrl.del($index, $event)">删除</div>
      </div>
    </li>
  </ul>
  <button ng-click="$ctrl.Clear()">清空</button>
  <button ng-click="$ctrl.clearItem()">撤销</button>
</main>
