.home {
  height: 200px;
  // line-height: 200px;
  color: #7e8c8d;
  // cursor: pointer;
  background: tan;
}

.finsh {
  text-decoration: underline;
  color: #0277bd;
}

li {
  cursor: pointer;
  width: 200px;
}

.item--style {
  width: 100%;
  height: auto;
  background: gray;
  border: 1px solid green;
}

.item--style__button {
  background: darkgreen;
  display: inline-block;
  float: right;
  border-radius: 5px;
}

.btn--emp {
  background: violet;
  border: none;
  border-radius: 5px;
}

.inpt {
  margin: 10px 0;
  border: 1px solid violet
}

.spn {
  font-size: 15px;
  color: #263238;
}

.button--box--condition {
  float: left;
  border: 1px solid #3399cc;
  height: 20px;
  width: 80px;
  border-radius: 5px;
  margin-right: 5px;
  background: white;
}

.button--box--reseult {
  height: 20px;
  width: 130px;
  float: left;
  border: 1px solid #263238;
  border-radius: 5px;
}
