.home {
  height: 200px;
  // line-height: 200px;
  color: #7e8c8d;
  // cursor: pointer;
  background: tan;
  text-align: center;
}

.finsh {
  text-decoration: underline;
  color: #0277bd;
}

li {
  cursor: pointer;
  width: 200px;
}

.item--style {
  width: 100%;
  height: auto;
  background: gray;
  border: 1px solid green;
}

.item--style__button {
  background: darkgreen;
  display: inline-block;
  float: right;
  border-radius: 5px;
}

.btn--emp {
  background: violet;
  border: none;
  border-radius: 5px;
}

.inpt {
  margin: 10px 0;
  //border: 1px solid violet
  border-radius: 5px;
}

.spn {
  font-size: 15px;
  color: #263238;
}

.button--box--condition {
  float: left;
  border: 1px solid white;
  height: 20px;
  width: 85px;
  border-radius: 5px;
  margin-right: 5px;
  background: white;
  .button--box__cont {
    border: none;
    background: white;
    height: 21px;
  }
  .button--box__time {
    border: none;
    background: white;
    border-left: 1px solid gray;
    height: 21px;
  }
}

.button--box--reseult {
  height: 20px;
  width: 160px;
  float: left;
  border: 1px solid white;
  border-radius: 5px;
  background: white;
  .button--box__no {
    border: none;
    background: white;
    height: 21px;
  }
  .button--box__yes {
    border: none;
    background: white;
    border-left: 1px solid gray;
    height: 21px;
  }
  .button--box__all {
    border: none;
    background: white;
    border-left: 1px solid gray;
    height: 21px;
  }
}
.chekbox {
  display:block;
  min-height:20px;
  margin-top:10px;
  margin-bottom:10px;
  padding-left:20px;
  vertical-align:middle;
}
.list {
  text-align: -webkit-center;
}
