.home {
  height: 200px;
  // line-height: 200px;
  color: white;
  // cursor: pointer;
}

.finsh {
  text-decoration: underline;
  color: #0277bd;
}

li {
  cursor: pointer;
  width: 200px;
}

.item--style {
  width: 100%;
  height: auto;
  background: gray;
  border: 1px solid green;
}

.item--style__button {
  background: darkgreen;
  display: inline-block;
  float: right;
  border-radius: 5px;
}

.btn--emp {
  background: violet;
  border: none;
  border-radius: 5px;
}
